$pc: 1100px;
$tab-end: 1099px;
$tab: 600px;
$sp-end: 599px;
$sp: 320px;

$pc: 1100px;
$tab: 600px;
$sp: 320px;

@mixin pc {
	@media screen and (min-width: ($pc)) {
		@content
	}
}

@mixin tab {
	@media screen and (min-width: ($tab)) and (max-width: ($tab-end)) {
		@content
	}
}

@mixin sp {
	@media screen and (min-width: ($sp)) and (max-width: ($sp-end)) {
		@content
	}
}

@include pc {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #000;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		text-align: left;
		color: #000;

	}

	body .sp {
		display: none !important;
	}

	dd.category {
		width: auto;
		height: 25px;
		padding: 0 10px;
		margin: 0 20px;
		background: #ffa7a7;
	}

	p#Contact-alt {
		text-align: center;
		margin-bottom: 50px;
	}

	div.bg {
		position: fixed;
		width: 100%;
		height: 100%;
		background: linear-gradient(-135deg, #e4a972, #9941d8);
		z-index: -1;

		/*============================
		#particles-js
		============================*/
		div#particles-js {}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90%;
		max-width: 1300px;
		margin: 0 auto;

		header {
			width: 100%;

			div {
				img {
					display: block;
					width: 100%;
					height: 443px;
					margin: 0 auto;
				}
			}

			nav {
				width: 100%;
				height: 85px;
				margin: 0 auto;

				ul {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: normal;
					margin: 0 auto;

					li {

						a {
							font-family: Meiryo;
							font-weight: normal;
							line-height: 125px;
							font-size: 20px;
							text-align: center;
							color: #fff;
							margin: 0 50px;
						}
					}
				}
			}

			div#Hum-menu {
				display: none;
			}
		}



		/*============================
		#News
		============================*/
		div#News {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 auto;
			padding: 1px;
			padding-bottom: 60px;
			margin-top: 40px;

			h2 {
				margin: 35px auto 25px;
			}

			div {
				width: 75%;
				max-width: 700px;
				height: auto;
				margin: 0 auto;

				dl {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 60px;
					width: 700px;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;

						dd.dd1 {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;
						}

						dt {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;

						}
					}
				}
			}
		}

		/*============================
#achive-news
============================*/
		div#achive-news {
			width: 700px;
			height: auto;
			margin: 0 auto;

			h2 {
				margin: 40px auto;
			}

			p {
				width: 490px;
				height: auto;
				margin: 0 auto 30px;
			}

			a {
				color: black;

				&:visited {
					color: black;
				}
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 20px 0;

				dd {
					display: inline-block;
					margin: 0 5px;
				}
			}

			dl {
				width: 100%;
				height: 160px;
				background: rgba(255, 255, 255, 0.65);
				margin-bottom: 20px;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: nowrap;

					div.news-img {
						display: block;
						width: 241px;
						height: 160px;
						background-position: center;
						background-size: cover;
						margin: 0;
					}

					div {
						display: flex;
						flex-wrap: wrap;
						width: 400px;
						margin: 30px auto;

						dt {
							width: 100%;
							margin-bottom: 18px;
						}

						div {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: 140px;
							margin: 0 30px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}

							dd {}
						}
					}
				}
			}

			/*============================
#Page-controll
============================*/
			div#Page-controll {
				width: 700px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;
			}
		}


		/*============================
#Single
============================*/
		div#Single {
			width: 700px;
			height: auto;
			background: #fff;
			margin: 75px auto 0;
			padding: 1px;

			/*============================
	.Thumbnail
	============================*/
			div.Thumbnail {
				width: 600px;
				height: 322px;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 600px;
				height: 322px;
				margin: 50px auto 15px;
			}

			/*============================
	#Single-title
	============================*/
			h1#Single-title {
				width: 600px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				width: 600px;
				height: auto;
				margin: 15px auto;

				dd.category {
					margin-right: 20px;
				}

				dd.dd2 {}
			}

			h2 {
				width: 600px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;

			}

			p {
				width: 600px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			a {
				display: block;
				width: 600px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			h3 {
				width: 600px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			/*============================
	#Page-controll
	============================*/
			div#Page-controll {
				width: 220px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 30px auto 50px;

				/*============================
	#Prev-page
	============================*/
				a#Prev-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}

				/*============================
	#Next-page
	============================*/
				a#Next-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}

		main {
			width: 65%;
			height: auto;
			margin: 0 auto;

			/*============================
		#Content
		============================*/
			div#Content {
				width: 100%;
				max-width: 850px;
				background: rgba(255, 255, 255, 0.65);
				margin: 40px 0;

				/*============================
		#Welcom
		============================*/
				div#Welcom {
					width: 100%;
					height: auto;

					h2 {
						margin: 40px auto;
					}

					div {
						display: flex;
						width: 100%;

						img {
							display: block;
							width: 359px;
							height: 226px;
							margin: 0 0 0 78px;
						}

						p {
							width: 272px;
							margin: 20px 0 0 65px;
						}
					}
				}

				/*============================
		#Business
		============================*/
				div#Business {
					width: 700px;
					height: auto;
					margin: 0 auto;

					h2 {
						margin: 121px auto 36px;
					}

					ul {
						display: flex;
						justify-content: space-between;

						li {
							width: 200px;
							height: 500px;
							list-style: none;
							background: #fff;
							width: 200px;
							box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);

							img {
								display: block;
								width: 150px;
								height: 150px;
								margin: 25px;
							}


							h3 {
								text-align: center;
								margin: 30px auto 20px
							}

							p {
								width: 160px;
								margin: 0 auto;
							}

						}
					}
				}

				/*============================
		#Achievement
		============================*/
				div#Achievement {
					display: flex;
					flex-wrap: wrap;
					width: 700px;
					margin: 0 auto;

					h2 {
						width: 100%;
						margin: 90px auto 30px;
						order: 1;
					}

					img {
						display: block;
						width: 380px;
						height: 240px;
						order: 3;
					}

					div {
						width: 280px;
						height: auto;
						order: 2;
						margin-left: 40px;

						p {
							margin: 45px auto;
						}

						a {
							display: block;
							width: 60px;
							height: 28px;
							background-color: #fff;
							box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							line-height: 28px;
							text-align: center;
							color: #000;
							margin: 40px auto;


						}
					}
				}

				/*============================
		#Activity
		============================*/
				div#Activity {
					display: flex;
					flex-wrap: wrap;
					width: 700px;
					margin: 0 auto;

					h2 {
						width: 100%;
						margin: 90px auto 30px;
						order: 1;
					}

					img {
						display: block;
						width: 380px;
						height: 240px;
						order: 2;
					}

					div {
						width: 280px;
						height: auto;
						order: 3;
						margin-left: 40px;

						p {
							margin: 45px auto;
						}

						a {
							display: block;
							width: 60px;
							height: 28px;
							background-color: #fff;
							box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							line-height: 28px;
							text-align: center;
							color: #000;
							margin: 40px auto;


						}
					}
				}

				/*============================
		#Contact
		============================*/
				div#Contact {
					h2 {
						margin: 75px auto 35px;
					}

					p#Contact-alt {
						text-align: center;
						margin-bottom: 50px;
					}

					form {
						width: 700px;
						height: auto;
						margin: 0 auto;
						padding-top: 30px;

						label {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: 100%;
							height: 70px;
							width: 700px;
							border-top: 1px solid #707070;

							&:nth-last-of-type(1) {
								align-items: normal;
								height: 180px;
							}

							h3 {
								width: 260px;
								font-family: Meiryo;
								font-weight: normal;
								font-size: 16px;
								line-height: 70px;
								text-align: left;
								color: #000;
							}

							input {
								width: 400px;
								height: 40px;
								background: rgba(255, 255, 255, 0.65);
								border: 1px solid #707070;
								margin: 15px 0;
							}

							p {
								width: 400px;
								height: 40px;
								margin: 15px 0;
								text-align: left;
							}

							textarea {
								width: 400px;
								height: 150px;
								background: rgba(255, 255, 255, 0.65);
								;
								border: 1px solid #707070;
								margin: 15px 0;
							}
						}

						button {
							display: block;
							width: 60px;
							height: 28px;
							background: rgba(255, 255, 255, 0.65);
							;
							box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
							margin: 35px auto 45px;
						}
					}
				}
			}
		}

		/*============================
		#SideNav
		============================*/
		div#SideNav {
			width: 30%;
			max-width: 400px;
			height: 1060px;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 0;
			margin: 0;

			h2 {
				margin: 40px auto;
			}

			img {
				display: block;
				width: 200px;
				height: 200px;
				margin: 0 auto;
			}

			/*============================
		#Profile
		============================*/
			div#Profile {
				width: 300px;
				margin: 45px auto 5px;

				dl {
					display: flex;
					flex-wrap: nowrap;
					width: 100%;
					margin: 15px auto;

					dt {
						width: 64px;
					}

					dd {}
				}
			}

			div {
				width: 300px;
				height: auto;
				margin: 0 auto 35px;

				h3 {
					font-family: Meiryo;
					font-weight: normal;
					font-size: 20px;
					text-align: center;
					color: #000;
					margin-bottom: 30px;
				}

				p {}
			}

			/*============================
		#sns
		============================*/
			div#sns {
				width: 100%;
				max-width: 300px;
				height: auto;
				margin: 0 auto 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				h2 {
					width: 100%;
					margin: 35px auto 50px;
				}

				a {
					display: block;
					width: 80px;
					height: 80px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		footer {
			width: 100%;
			height: 144px;
			background: rgba(255, 255, 255, 0.65);
			margin: 100px auto 0;

			p {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 144px;
				text-align: center;
				color: #000;

			}
		}
	}

}

@include tab {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #000;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		text-align: left;
		color: #000;

	}

	p#Contact-alt {
		text-align: center;
		margin-bottom: 50px;
	}

	body .sp {
		display: none !important;
	}

	body dd.category {
		width: auto;
		height: 25px;
		padding: 0 5px;
		margin: 5px;
		background: #ffa7a7;
		margin: 0;
	}

	div.bg {
		position: fixed;
		width: 100%;
		height: 100%;
		background: linear-gradient(-135deg, #e4a972, #9941d8);
		z-index: -1;

		/*============================
		#particles-js
		============================*/
		div#particles-js {}
	}

	header {
		div {
			img {
				display: block;
				width: 700px;
				height: 239px;
				margin: 0 auto;
			}
		}

		nav {
			width: 700px;
			height: 100px;
			margin: 0 auto;

			ul {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;

				li {

					a {
						font-family: Meiryo;
						font-weight: normal;
						font-size: 20px;
						text-align: center;
						color: #fff;
						margin: 0 40px;
					}
				}
			}
		}
	}

	main {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 700px;
		height: auto;
		margin: 0 auto;

		/*============================
		#News
		============================*/
		div#News {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 auto 0;
			padding: 1px;

			h2 {
				margin: 35px auto 25px;
			}

			div {
				width: 600px;
				height: auto;
				margin: 0 auto;

				dl {
					width: 100%;
					height: 60px;
					width: 100%;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;

						dd.dd1 {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;

						}

						dd.category {
							margin: 30px;
						}

						dt {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;

						}
					}
				}
			}
		}

		/*============================
#achive-news
============================*/
		div#achive-news {
			width: 600px;
			height: auto;
			margin: 0 auto;

			h2 {
				margin: 50px auto 30px;
			}

			p {
				width: 490px;
				height: auto;
				margin: 0 auto 30px;
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 20px 0;

				dd {
					display: inline-block;
					margin: 0 5px;
				}
			}

			dl {
				width: 100%;
				height: 160px;
				background: rgba(255, 255, 255, 0.65);
				margin-bottom: 20px;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: nowrap;

					div.news-img {
						display: block;
						width: 241px;
						height: 160px;
						background-position: center;
						background-size: cover;
						margin: 0;
					}

					div {
						display: flex;
						flex-wrap: wrap;
						width: 320px;
						margin: 30px auto;

						dt {
							width: 100%;
							margin-bottom: 18px;
						}

						div.time-date {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: auto;
							margin: 0 0 0 30px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}

							dd {
								font-family: Meiryo;
								font-weight: normal;
								font-size: 16px;
								line-height: 16px;
								text-align: center;
								color: #000;

							}
						}
					}
				}
			}

			/*============================
#Page-controll
============================*/
			div#Page-controll {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;
			}
		}

		/*============================
#Single
============================*/
		div#Single {
			width: 600px;
			height: auto;
			background: #fff;
			margin: 50px auto 0;
			padding: 1px;

			/*============================
.Thumbnail
============================*/
			div.Thumbnail {
				width: 500px;
				height: 322px;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 500px;
				height: 322px;
				margin: 50px auto 15px;
			}

			/*============================
#Single-title
============================*/
			h1#Single-title {
				width: 500px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				width: 500px;
				height: auto;
				margin: 15px auto;

				dd.category {
					margin-right: 20px;
				}

				dd.dd2 {}
			}

			h2 {
				width: 500px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;

			}

			p {
				width: 500px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			a {
				display: block;
				width: 500px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			h3 {
				width: 500px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			/*============================
#Page-controll
============================*/
			div#Page-controll {
				width: 220px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 30px auto 50px;

				/*============================
#Prev-page
============================*/
				a#Prev-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}

				/*============================
#Next-page
============================*/
				a#Next-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}


		/*============================
		#Content
		============================*/
		div#Content {
			width: 100%;
			background: rgba(255, 255, 255, 0.65);
			margin: 0;

			/*============================
		#Welcom
		============================*/
			div#Welcom {
				width: 100%;
				height: auto;

				h2 {
					margin: 48px auto 42px;
				}

				div {
					display: flex;
					width: 100%;

					img {
						display: block;
						width: 359px;
						height: 226px;
						margin: 0;
					}

					p {
						width: 272px;
						margin: 20px 0 0 32px;
					}
				}
			}

			/*============================
		#Business
		============================*/
			div#Business {
				width: 650px;
				height: auto;
				margin: 0 auto;

				h2 {
					margin: 121px auto 36px;
				}

				ul {
					display: flex;
					justify-content: space-between;

					li {
						width: 200px;
						height: 500px;
						list-style: none;
						background: #fff;
						box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);

						img {
							display: block;
							width: 150px;
							height: 150px;
							margin: 25px;
						}

						h3 {
							text-align: center;
							margin: 30px auto 20px
						}

						p {
							width: 160px;
							margin: 0 auto;
						}

					}
				}
			}

			/*============================
		#Achievement
		============================*/
			div#Achievement {
				display: flex;
				flex-wrap: wrap;
				width: 700px;
				margin: 0 auto;

				h2 {
					width: 100%;
					margin: 90px auto 30px;
					order: 1;
				}

				img {
					display: block;
					width: 380px;
					height: 240px;
					order: 3;
				}

				div {
					width: 280px;
					height: auto;
					order: 2;
					margin-left: 40px;

					p {
						margin: 45px auto;
					}

					a {
						display: block;
						width: 60px;
						height: 28px;
						background-color: #fff;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						font-family: Meiryo;
						font-weight: normal;
						font-size: 14px;
						line-height: 28px;
						text-align: center;
						color: #000;
						margin: 40px auto;


					}
				}
			}

			/*============================
		#Activity
		============================*/
			div#Activity {
				display: flex;
				flex-wrap: wrap;
				width: 700px;
				margin: 0 auto;

				h2 {
					width: 100%;
					margin: 60px auto 30px;
					order: 1;
				}

				img {
					display: block;
					width: 380px;
					height: 240px;
					order: 2;
				}

				div {
					width: 280px;
					height: auto;
					order: 3;
					margin-left: 10px;

					p {
						margin: 45px auto;
					}

					a {
						display: block;
						width: 60px;
						height: 28px;
						background-color: #fff;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						font-family: Meiryo;
						font-weight: normal;
						font-size: 14px;
						line-height: 28px;
						text-align: center;
						color: #000;
						margin: 40px auto;


					}
				}
			}

			/*============================
		#Contact
		============================*/
			div#Contact {
				h2 {
					margin: 75px auto 35px;
				}

				p#Contact-alt {
					text-align: center;
					margin-bottom: 50px;
				}

				form {
					width: 600px;
					height: auto;
					margin: 0 auto;

					label {
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
						width: 550px;
						height: 70px;
						border-top: 1px solid #707070;
						margin: 0 auto;

						&:nth-last-of-type(1) {
							align-items: normal;
							height: 180px;
						}

						h3 {
							width: 260px;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							line-height: 70px;
							text-align: left;
							color: #000;
						}

						input {
							width: 400px;
							height: 40px;
							background: rgba(255, 255, 255, 0.65);
							border: 1px solid #707070;
							margin: 15px 0;
						}

						p {
							width: 400px;
							height: 40px;
							margin: 15px 0;
							text-align: left;
						}

						textarea {
							width: 400px;
							height: 150px;
							background: rgba(255, 255, 255, 0.65);
							border: 1px solid #707070;
							margin: 15px 0;
						}
					}

					button {
						display: block;
						width: 60px;
						height: 28px;
						background: rgba(255, 255, 255, 0.65);
						;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						margin: 35px auto 45px;
					}
				}
			}
		}

		/*============================
		#SideNav
		============================*/
		div#SideNav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 0;
			margin: 0;

			h2 {
				width: 100%;
				margin: 65px auto 14px;
			}

			img {
				display: block;
				width: 200px;
				height: 200px;
				margin: 0 auto;
			}

			/*============================
		#Profile
		============================*/
			div#Profile {
				width: 300px;
				margin: 45px auto 5px;

				dl {
					display: flex;
					flex-wrap: nowrap;
					width: 100%;
					margin: 15px auto;

					dt {
						width: 64px;
					}

					dd {}
				}
			}

			div {
				width: 100%;
				height: auto;
				margin: 35px auto 30px;

				h3 {
					font-family: Meiryo;
					font-weight: normal;
					font-size: 20px;
					text-align: center;
					color: #000;
					margin-bottom: 30px;
				}

				p {
					width: 300px;
					margin: 0 auto;
				}
			}

			/*============================
		#sns
		============================*/
			div#sns {
				width: 350px;
				height: auto;
				margin: 0 auto 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				h2 {
					width: 100%;
					margin: 35px auto 50px;
				}

				a {
					display: block;
					width: 80px;
					height: 80px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		height: 144px;
		background: rgba(255, 255, 255, 0.65);
		margin: 100px auto 0;

		p {
			width: 100%;
			font-family: Meiryo;
			font-weight: normal;
			font-size: 20px;
			line-height: 144px;
			text-align: center;
			color: #000;

		}
	}
}

@include sp {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #000;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		text-align: left;
		color: #000;

	}

	p#Contact-alt {
		text-align: center;
		margin-bottom: 50px;
	}

	body dd.category {
		width: auto;
		height: 20px;
		padding: 0 5px;
		margin: 5px;
		background: #ffa7a7;
		margin: 0;
	}

	div.bg {
		position: fixed;
		width: 100%;
		height: 100%;
		background: linear-gradient(-135deg, #e4a972, #9941d8);
		z-index: -1;

		/*============================
		#particles-js
		============================*/
		div#particles-js {}
	}

	header {
		padding-top: 85px;

		div {
			img {
				display: block;
				width: 320px;
				height: 109px;
				margin: 0 auto;
			}
		}

		nav {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100vh;
			margin: 0 auto;
			padding-top: 85px;
			background: linear-gradient(-135deg, #e4a972, #9941d8);
			transform: translateY(-100vh);
			transition: all 0.3s;

			&.active {
				transform: translateX(0);
			}

			ul {
				width: 100%;
				height: auto;
				display: flex;
				flex-wrap: wrap;
				margin: 0 auto;

				li {
					width: 100%;
					height: 40px;

					a {
						display: block;
						width: 100%;
						height: 40px;
						font-family: Meiryo;
						font-weight: normal;
						font-size: 20px;
						line-height: 40px;
						text-align: center;
						color: #fff;
						margin: 0;
					}
				}
			}
		}

		div#Hum-menu {
			position: fixed;
			top: 20px;
			left: calc(50% - 22.5px);
			width: 45px;
			height: 45px;

			span {
				position: absolute;
				left: 10px;
				width: 25px;
				height: 4px;
				border-radius: 2px;
				background: #fff;
				transition: all .3s;

				&:nth-of-type(1) {
					top: 10px;
				}

				&:nth-of-type(2) {
					top: 20px;
				}

				&:nth-of-type(3) {
					top: 30px;
				}

				&#span1.active {
					top: 20px;
					transform: rotate(225deg);
				}

				&#span2.active {
					display: none;
				}

				&#span3.active {
					top: 20px;
					transform: rotate(-225deg);
				}
			}
		}
	}

	main {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 320px;
		height: auto;
		margin: 0 auto;

		/*============================
		#News
		============================*/
		div#News {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 auto 0;
			padding: 1px 20px;

			h2 {
				margin: 35px auto 25px;
			}

			div {
				width: 100%;
				height: auto;
				margin: 0 auto;

				dl {
					display: block;
					width: 100%;
					height: auto;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center;

						dd.dd1 {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #000;
							margin: 5px 0;
						}

						dd.category {
							margin: 0 5px;
						}

						dt {
							width: 100%;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #000;
							margin-bottom: 10px;
							padding: 0 10px;
						}
					}
				}
			}
		}

		/*============================
#achive-news
============================*/
		div#achive-news {
			width: 300px;
			height: auto;
			margin: 0 auto;

			h2 {
				margin: 50px auto 30px;
			}

			p {
				width: 280px;
				height: auto;
				margin: 0 auto 20px;
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 20px 0;

				dd {
					display: inline-block;
					margin: 5px;
				}
			}

			dl {
				width: 100%;
				height: auto;
				background: rgba(255, 255, 255, 0.65);
				margin-bottom: 20px;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: wrap;

					div.news-img {
						display: block;
						width: 300px;
						height: 200px;
						background-position: center;
						background-size: cover;
						margin: 0;
					}

					div {
						display: flex;
						flex-wrap: wrap;
						width: 280px;
						margin: 30px auto;

						dt {
							width: 100%;
							font-size: 14px;
							margin-bottom: 18px;
						}

						dd.category {
							margin-left: 10px;
						}

						div {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: auto;
							margin: 0 0 0 20px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}

							dd {
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 14px;
								text-align: center;
								color: #000;
							}
						}
					}
				}
			}

			/*============================
#Page-controll
============================*/
			div#Page-controll {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;

				/*============================
#Prev-page
============================*/
				a#Prev-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}

				/*============================
#Next-page
============================*/
				a#Next-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}

		/*============================
#Single
============================*/
		div#Single {
			width: 320px;
			height: auto;
			background: #fff;
			margin: 0 auto;
			padding: 1px;

			/*============================
.Thumbnail
============================*/
			div.Thumbnail {
				width: 300px;
				height: 183px;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 300px;
				height: 183px;
				margin: 50px auto 15px;
			}

			/*============================
#Single-title
============================*/
			h1#Single-title {
				width: 300px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				width: 280px;
				height: auto;
				margin: 15px auto;

				dd.category {
					margin-right: 20px;
				}

				dd.dd2 {}
			}

			h2 {
				width: 300px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;

			}

			p {
				width: 280px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			a {
				display: block;
				width: 280px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				margin: 15px auto;
			}

			h3 {
				width: 300px;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			/*============================
#Page-controll
============================*/
			div#Page-controll {
				width: 220px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 30px auto 50px;

				/*============================
#Prev-page
============================*/
				a#Prev-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}

				/*============================
#Next-page
============================*/
				a#Next-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}

		/*============================
		#Content
		============================*/
		div#Content {
			width: 100%;
			background: rgba(255, 255, 255, 0.65);
			;
			margin: 0;

			/*============================
		#Welcom
		============================*/
			div#Welcom {
				width: 100%;
				height: auto;

				h2 {
					margin: 48px auto 22px;
				}

				div {
					display: flex;
					flex-wrap: wrap;
					width: 100%;

					img {
						display: block;
						width: 320px;
						height: 202px;
						margin: 0;
					}

					p {
						width: 270px;
						margin: 20px auto 32px;
					}
				}
			}

			/*============================
		#Business
		============================*/
			div#Business {
				width: 300px;
				height: auto;
				margin: 0 auto;

				h2 {
					margin: 0 auto 36px;
				}

				ul {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li {
						display: flex;
						flex-wrap: wrap;
						width: 280px;
						height: 206px;
						list-style: none;
						background: #fff;
						box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
						margin: 0 auto 40px;

						img {
							display: block;
							width: 60px;
							height: 60px;
							margin: 10px;
						}



						h3 {
							width: calc(100% - 80px);
							text-align: center;
							margin: 30px auto 20px;
						}

						p {
							width: 240px;
							margin: 0 auto 20px;
						}

					}
				}
			}

			/*============================
		#Achievement
		============================*/
			div#Achievement {
				display: flex;
				flex-wrap: wrap;
				width: 320px;
				margin: 0 auto;

				h2 {
					width: 100%;
					margin: 60px auto 30px;
					order: 1;
				}

				img {
					display: block;
					width: 320px;
					height: 202px;
					order: 2;

					&.pc {
						display: none;
					}
				}

				div {
					width: 280px;
					height: auto;
					order: 3;
					margin: 30px auto;

					p {
						margin: 0 auto 30px;
					}

					a {
						display: block;
						width: 60px;
						height: 28px;
						background-color: #fff;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						font-family: Meiryo;
						font-weight: normal;
						font-size: 14px;
						line-height: 28px;
						text-align: center;
						color: #000;
						margin: 30px auto;


					}
				}
			}

			/*============================
		#Activity
		============================*/
			div#Activity {
				display: flex;
				flex-wrap: wrap;
				width: 320px;
				margin: 0 auto;

				h2 {
					width: 100%;
					margin: 30px auto 30px;
					order: 1;
				}

				img {
					display: block;
					width: 320px;
					height: 202px;
					order: 2;

					&.pc {
						display: none !important;
					}
				}

				div {
					width: 280px;
					height: auto;
					order: 3;
					margin: 30px auto;

					p {
						margin: 0 auto 30px;
					}

					a {
						display: block;
						width: 60px;
						height: 28px;
						background-color: #fff;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						font-family: Meiryo;
						font-weight: normal;
						font-size: 14px;
						line-height: 28px;
						text-align: center;
						color: #000;
						margin: 30px auto;


					}
				}
			}

			/*============================
		#Contact
		============================*/
			div#Contact {
				width: 100%;

				h2 {
					margin: 45px auto 35px;
				}

				p#Contact-alt {
					text-align: center;
					width: 280px;
					margin: 0 auto 30px;
				}

				form {
					width: 280px;
					height: auto;
					margin: 0 auto;

					label {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						width: 260px;
						height: 105px;
						margin: 0 auto;

						&:nth-last-of-type(1) {
							align-items: normal;
							min-height: 105px;
							height: auto;
						}

						h3 {
							width: 100%;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							line-height: 20px;
							text-align: center;
							color: #000;
							margin: 10px auto;
						}

						input {
							width: 400px;
							height: 40px;
							background: rgba(255, 255, 255, 0.65);
							border: 1px solid #707070;
							margin: 15px 0;
						}

						p {
							width: 300px;
							height: 40px;
							margin: 10px 0;
							text-align: center;

							&#Semdtext {
								width: 240px;
								margin: 10px auto;
							}
						}

						textarea {
							display: block;
							width: 400px;
							height: 150px;
							background: rgba(255, 255, 255, 0.65);
							;
							border: 1px solid #707070;
							margin: 15px 0;
						}
					}

					button {
						display: block;
						width: 60px;
						height: 28px;
						background: rgba(255, 255, 255, 0.65);
						;
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						margin: 35px auto 45px;
					}
				}
			}
		}

		/*============================
		#SideNav
		============================*/
		div#SideNav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 0;
			padding: 0 30px;

			h2 {
				width: 100%;
				margin: 65px auto 14px;
			}

			img {
				display: block;
				width: 200px;
				height: 200px;
				margin: 0 auto;
			}

			/*============================
		#Profile
		============================*/
			div#Profile {
				width: 100%;
				margin: 45px auto 5px;

				dl {
					display: flex;
					flex-wrap: nowrap;
					width: 100%;
					margin: 15px auto;

					dt {
						width: 64px;
					}

					dd {
						font-size: 14px;
					}
				}
			}

			div {
				width: 100%;
				height: auto;
				margin: 35px auto 30px;

				h3 {
					font-family: Meiryo;
					font-weight: normal;
					font-size: 20px;
					text-align: center;
					color: #000;
					margin-bottom: 30px;
				}

				p {
					margin: 0 auto;
				}
			}

			/*============================
		#sns
		============================*/
			div#sns {
				width: 280px;
				height: auto;
				margin: 0 auto 40px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				h2 {
					width: 100%;
					margin: 25px auto 30px;
				}

				a {
					display: block;
					width: 80px;
					height: 80px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		height: 144px;
		background: rgba(255, 255, 255, 0.65);
		margin: 100px auto 0;

		p {
			width: 100%;
			font-family: Meiryo;
			font-weight: normal;
			font-size: 20px;
			line-height: 144px;
			text-align: center;
			color: #000;

		}
	}
}